---
layout: base.njk
showHireButton: true
---

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb terminal-breadcrumb">
        <li class="breadcrumb-item"><a href="{{ '/' | url }}">~</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ pageSlug }}</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<h2 class="fs-3 fw-bold text-primary terminal-cursor">{{ pageTitle }}</h2>

<div class="content-container my-4">
    {{ content | safe }}
</div>
{% endblock %}